* {
    font-family: 'Roboto Mono', monospace;
}
.navbarColor{
    background-color: #729800;
}
button{
    background-color: black;
    border-color: black;
}
.dropdown{
     border-radius: 15%;
}
.customFooter{
    background-color: #729800;
}
.customImg{
    width: 200px;
    height: 450px;
}